<!DOCTYPE html>

<html>
    <head>
        <title>Weather studio</title>
        <link rel="stylesheet" href="../../public/index.css">
    </head>
    <body>
        <header>
            {{>header}}
            <p>Find weather Instantly</p>
        </header>
        <form>
            <input type="text" placeholder="Enter location">
            <button type="submit">Search</button>
        </form>

        
        <script src="../../public/index.js" type="text/javascript"></script>
    </body>
</html>